/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


.like-icon.is-liked .like-icon__heart {
    animation: scale 0.3s ease-in 0.1s 1 alternate;
}

@keyframes arrow-motion {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(-16px);
    }
}

@keyframes header_arrow_offset {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(-150%) translateX(4px);
    }
}

@keyframes scaleHeart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparkAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.like-icon__core {
    transition: fill 0.3s .03s linear;
    fill: var( --heart-nentral);
}

.like-icon__body {
    transition: fill 0.3s linear;
    fill: var(--heart-nentral);
}

.like-icon__counter {
    transition: fill 0.3s .06s linear;
    fill: var(--heart-contur-color);
}

.card__icon-button:hover .like-icon__core {
    fill: var(--heart-contur-color);
}

.card__icon-button:hover .like-icon__body {
    fill: var(--heart-contur-color);
    transition-delay: 0.03s;
}

.card__icon-button:active .like-icon__core {
    fill: var(--heart-body-color);
}

.card__icon-button:active .like-icon__body {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .like-icon__core {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .like-icon__body {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .like-icon__counter {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .like-icon__lights {
    animation: sparkAnimation 0.3s ease-in 0.3s 1 alternate;
}

.like-icon__lights {
    fill: var(--heart-lights-color);
    opacity: 0;
}

/* .like-icon__core {
    fill: var( --heart-nentral);
}
  
.like-icon__body {
    fill: var(--heart-nentral);
}
  
.like-icon__counter {
    fill: var(--heart-contur-color);
} */

.like-icon__heart {
    transform-origin: 50%;
}