/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 100px auto 105px;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--wght-text);
  color: var(--themes-main-color);
  background-image: var(--bg-image);
  background-size: cover;
}

.header {
  max-inline-size: 696px;
  border: var(--themes-main-color) solid 2px;
  background-color: var(--themes-background);
  padding: 0 0 25px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
}

.header__logo {
  margin: 136px 0 20px 0;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: none;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--themes-main-color);
  opacity: 0.6;
  transform: scaleX(0);
  border-bottom: solid 2px;
  transform-origin: 0;
  /* transition: transform 0.3s linear; */
  transition: width 0.3s ease;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  bottom: 0;
  left: 0;
  transform-origin: left;
  background-color: var(--bg-for-arrow);
  animation-name: arrow-motion;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover, .theme-menu__button:disabled {
  opacity: 0.6;
  color: var(--themes-main-color);
}

.theme__menu-button {
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

/* .theme-menu__button:hover,
.theme-menu__button:disabled {
  transition: opacity 0.3s ease;
} */

/* .theme-menu__button::after {
  transition: width 0.3s ease;
} */

/* MAIN */

.cards {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-block-end: 50px;
}

.card {
  margin: 0 auto;
  inline-size: 696px;
  border: var(--themes-main-color) solid 2px;
  background-color: var(--themes-background);
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-title);
}

.image__container {
  position: relative;
  border-top: var(--themes-main-color) solid 2px;
  border-bottom: var(--themes-main-color) solid 2px;
}

.card__img {
  display: block;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__img-grayscale {
  filter: grayscale(0.8);
}

.card__img-saturate {
  filter: saturate(300%);
}

.card__img-rotate {
  filter: hue-rotate(-290deg);
}

.card__img-invert {
  filter: invert(0.9);
}

.card__img-sepia {
  filter: sepia(90%);
}

.card__img-blur {
  filter: blur(0.3rem);
}

.card__img-blur-rotate {
  filter: blur(0.1rem) hue-rotate(-290deg);
}

.label__text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 2;
  text-shadow: 1px 0 1px var(--label-color),
    0 1px 1px var(--label-color), -1px 0 1px var(--label-color),
    0 -1px 1px var(--label-color);
}

@supports (text-stroke: 1px var(--label-color)) {
  .label__text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color);
  }
}

.text-content {
  padding: 27px 25px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-text);
  line-height: 116.667%;
}

.card__text-limited {
  min-inline-size: 646px;
}

/* BUTTONS */

.button-like-box {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-block-end: 24px;
  margin-inline-end: 23px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  inline-size: 38px;
  padding: 0;
  background-color: none;
  border: none;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  padding: 9px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 130px;
  min-height: 38px;
}

.animation-btn {
  border: 3px solid var(--themes-main-color, #000);
  background: var(--themes-background, #FFF);
  position: relative;
  transition: border 0.3s;
}

.animation-btn::before {
  content: " ";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: var(--themes-main-color);
  transition-duration: 0.5s;
}

.button__text {
  color: var(--themes-main-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 90%;
}

.animation-btn .button__text {
  position: relative;
  z-index: 1;
}

.animation-btn:hover .button__text {
  mix-blend-mode: difference;
  color: var(--text-color-hover);
}

.animation-btn:hover::before {
  width: 100%;
}

.like-icon {
  transform-origin: center;
  width: 100%;
  height: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--themes-main-color);
}

.like-icon__heart {
  transform-origin: 50%;
}

.animation-btn:focus {
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  outline: none;
}

.animation-btn:focus-visible {
  transition: box-shadow 0.3s ease;
}

.card__floopy-button::before {
  transition: transform 0.5s ease-in-out;
}

.save-button:focus-visible {
  transition: box-shadow 0.3s ease;
}

.save-button:hover::before {
  transition: transform 0.5s ease-in-out;
}

.save-button::before {
  transition: background-color 0.5s ease-in-out;
}

.button {
  margin: 0 auto;
  padding: 15px;
  inline-size: 339px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background-color:  var(--background-color-button);
}

.svg-image {
  block-size: 21px;
  inline-size: 21px;
  color: var(--themes-main-color-svg);
  mix-blend-mode: difference;
}

/* ДИАЛОГ */

dialog {
  margin: auto auto;
  max-inline-size: 357px;
  border: var(--themes-main-color) solid 2px;
  background-color: var(--themes-background);
  padding: 30px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__img {
  block-size: 39px;
  inline-size: 89px;
  color: var(--themes-main-color);
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  color: var(--themes-main-color);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  block-size: 38px;
  inline-size: 100%;
  padding: 9px 17px;
  cursor: pointer;
}

/* МЕДИА-ЗАПРОСЫ */

@media (max-width: 376px) { 
  .header__logo {
    margin: 120px 0 20px 0;
  }

  .cards {
    gap: 50px;
  }
  
  .card {
    max-inline-size: var(--card-375px);
  }

  .card__text-limited {
    min-inline-size: 319px;
  }

  .svg-image {
    block-size: 28px;
    inline-size: 28px;
  }

  .button {
    flex-direction: column;
    inline-size: 306px;
  }

  .dialog {
    inline-size: 341px;
  }

  .card__text {
    inline-size: 317px;
  }

  .label__text {
    top: 24px;
    right: 11px;
  }
}




