/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --themes-main-color: #000;
    --themes-background: #FFF;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --label-color: #fff;
    --heart-contur-color: #000;
    --heart-body-color: #FF0000;
    --heart-core-color: #fff;
    --heart-lights-color: #FF0000;
    --background-color-dialog: #fff;
    --background-color-button: #fff;
    --text-color-hover: #fff;
    --bg-for-arrow: #fff;
    --heart-nentral: #ffffff;
    --themes-main-color-svg: #ffffff;
}

:root.theme-dark {
    --themes-main-color: #00CC14;
    --themes-background: #000;
    --bg-image: repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --label-color: #00CC14;
    --heart-contur-color: #00CC14;
    --background-color-dialog: #000;
    --background-color-button: #000;
    --text-color-hover: #000;
    --bg-for-arrow: #000;
    --heart-nentral: #000000;
    --themes-main-color-svg: #00CC14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --themes-main-color: #00CC14;
        --themes-background: #000;
        --bg-image: repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #007f0c, #004306);
        --label-color: #00CC14;
        --heart-contur-color: #00CC14;
        --background-color-dialog: #000;
        --background-color-button: #000;
        --text-color-hover: #000;
        --bg-for-arrow: #000;
        --heart-nentral: #000000;
        --themes-main-color-svg: #00CC14;
    }
      
}