/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --max-width: 696px;
    --header-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
    --main-font-family: 'Inter-Variable', sans-serif;
    --accent-font-family: 'PressStart2P-Regular', fantasy;
    --wdth: 100;
    --wgth: 400;
    --font-size: 18px;
    --themes-main-color: #000;
    --themes-main-color-svg: #ffffff;
    --themes-background: #FFF;
    --text-color-hover: #fff;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --label-color: #fff;
    --heart-body-color: #FF0000;
    --heart-contur-color: #000;
    --heart-core-color: #fff;
    --heart-lights-color: #FF0000;
    --background-color-dialog: #fff;
    --background-color-button: #fff;
    --heart-nentral: #ffffff;
    --bg-for-arrow: #fff;
}
 
::backdrop {
    --color-backdrop: rgba(0, 0, 0, 0.7);
}